<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>filter_list</mat-icon>
        <span>Filters</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filters">
      <mat-form-field
        appearance="fill"
        color="primary"
      >
        <mat-label>Status</mat-label>
        <mat-select
          (selectionChange)="handleFilterByStatus($event)"
          [(ngModel)]="filters.status"
          panelClass="table-filter-panel"
        >
          <mat-option
            *ngFor="let item of statusOptions"
            [value]="item.option"
          >
            {{ item.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        color="primary"
      >
        <input
          matInput
          placeholder="Search by Title"
          (input)="handleTitleSearch($event)"
          [value]="filters.title"
        />
      </mat-form-field>
      <ng-container *ngIf="userCanAtLeastEdit()">
        <mat-form-field
          appearance="fill"
          color="primary"
        >
          <mat-label>Author</mat-label>
          <mat-select
            (selectionChange)="handleFilterByAuthor($event)"
            [(ngModel)]="selectedAuthorOption"
            panelClass="table-filter-panel"
          >
            <mat-option
              *ngFor="let author of authorOptions"
              [value]="author.option"
            >
              {{ author.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <mat-form-field
        appearance="fill"
        color="primary"
      >
        <mat-label>TCS Group</mat-label>
        <mat-select
          (selectionChange)="handleFilterByGroup($event)"
          [(ngModel)]="selectedGroupOption"
          panelClass="table-filter-panel"
        >
          <mat-option
            *ngFor="let group of groupFilterOptions"
            [value]="group"
          >
            {{ group }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Commenting out the SaveComment search as for now we do not have in plan to use it, but might turn in useful in the future -->
      <!-- -------------------- -->
      <!-- <mat-form-field
        appearance="fill"
        color="primary"
      >
        <input
          matInput
          placeholder="Search by Save Comment"
          (input)="handleCommentSearch($event)"
          [value]="filters.changeComment"
        />
      </mat-form-field> -->
    </div>

    <button
      mat-stroked-button
      (click)="handleClearFilters()"
      class="clear-btn"
    >
      Clear all
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="handleViewResults()"
    >
      View results
    </button>
  </mat-expansion-panel>
</mat-accordion>
