<div class="wrapper">
  <h1 mat-dialog-title>Confirm</h1>
  <div mat-dialog-content>
    <p *ngIf="entityName === 'DataProduct'; else SAorSSC">
      Please select a Group to associate this <b>{{ entityName }}</b> with.
    </p>
    <ng-template #SAorSSC>
      <p>
        Do you want to confirm creation of new <b>{{ entityName }}</b
        >?
      </p>
    </ng-template>
  </div>

  <ng-container *ngIf="entityName === 'DataProduct'">
    <mat-form-field>
      <mat-select
        [(value)]="selectedGroup"
        #select
      >
        <mat-option
          *ngFor="let group of groups"
          [value]="group"
        >
          {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="entityName === 'DataProduct'">
    <span><strong>Description:</strong> {{ selectedGroup ? selectedGroup.description : '...' }} </span>
  </ng-container>

  <div mat-dialog-actions>
    <button
      mat-stroked-button
      (click)="handleCancel()"
    >
      Cancel
    </button>
    <ng-container *ngIf="entityName === 'DataProduct' || groupSoftwaresLoaded; else loadingCreateButton">
      <button
        mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="handleCreate()"
      >
        Create
      </button>
    </ng-container>
    <ng-template #loadingCreateButton>
      <button
        mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="handleCreate()"
        disabled
      >
        <mat-spinner
          diameter="20"
          strokeWidth="3"
        ></mat-spinner>
      </button>
    </ng-template>
  </div>
</div>
