<ng-container *ngIf="form">
  <form
    [formGroup]="form"
    class="integer-form"
  >
    <mat-radio-group
      aria-label="Allowed values"
      formControlName="allowedValues"
    >
      <mat-radio-button value="any">Any</mat-radio-button>
      <mat-radio-button value="controlled">Controlled list of values</mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="form.get('allowedValues')?.value === 'any'">
      <mat-form-field>
        <mat-label>Default value</mat-label>
        <input
          matInput
          placeholder="Default value"
          formControlName="defaultValue"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Min value</mat-label>
        <input
          matInput
          placeholder="Min value"
          formControlName="minValue"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max value</mat-label>
        <input
          matInput
          placeholder="Max value"
          formControlName="maxValue"
        />
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="form.get('allowedValues')?.value === 'controlled'">
      <mat-slide-toggle
        formControlName="multipleValues"
        class="allow-multiple"
      >
        Allows multiple selection
      </mat-slide-toggle>
      <div class="controlled-values-table-wrap">
        <table
          mat-table
          [dataSource]="dataSource"
          class="controlled-values-table"
          [trackBy]="trackByRow"
        >
          <ng-container matColumnDef="value">
            <th
              mat-header-cell
              *matHeaderCellDef
            >
              Value
            </th>
            <td
              mat-cell
              *matCellDef="let row"
            >
              <mat-form-field appearance="fill" class="value-field">
                <input
                  matInput
                  placeholder="Value"
                  [formControl]="row.control"
                />
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="default">
            <th
              mat-header-cell
              *matHeaderCellDef
            >
              Default
            </th>
            <td
              mat-cell
              *matCellDef="let row"
            >
              <mat-slide-toggle
                [id]="row.index.toString()"
                [checked]="isChecked(row.control)"
                (change)="handleValueChange(row.control, $event.checked)"
                [disabled]="form.disabled"
              >
                As default value
              </mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
            >
              Actions
            </th>
            <td
              mat-cell
              *matCellDef="let row"
            >
              <button
                type="button"
                mat-mini-fab
                color="warn"
                aria-label="Remove Value"
                matTooltip="Remove Value"
                class="smaller"
                (click)="removeItem(row.index)"
                [disabled]="form.disabled"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
          <tr
            class="mat-row"
            *matNoDataRow
          >
            <td
              class="mat-cell empty-state"
              [attr.colspan]="displayedColumns.length"
            >
              No values defined yet.
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="handleAddNewValue()"
        [disabled]="form.disabled"
        [ngClass]="form.disabled ? 'hidden' : ''"
      >
        Add new value
      </button>
    </ng-container>
  </form>
</ng-container>
